{% extends 'base.html' %}
{% from 'macro.html' import post_message %}

{% block title %}/{{ board.dir }}/ - {{ board.name }}{% endblock %}

{% block content %}
    <h1>/{{ board.dir }}/ - {{ board.name }}</h1>
    {% include "post_form.html" %}
    <hr>

    <div class="breadcrumb">
        <ul>
            <li><a href="/">Главная</a></li>
            <li>/{{ board.dir }}/ - {{ board.name }}</li>
        </ul>
    </div>

    {% for thread in board.threads %}
        <div class="thread" id="thread{{ thread.id }}" style="background-color: #c4e3f3">

            {{ post_message(
                        message=thread.op(),
                        op_post=1,
                        op_label=1,
                        thread_link=thread.link()
            ) }}

            {% for message in thread.messages_tail() %}
                {{ post_message(
                        message=message
                ) }}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
