<html xmlns="http://www.w3.org/1999/html">
<head>

</head>
<body>
    <h1>/{{ board.dir }}/ - {{ board.name }}</h1>
    {% include "post_form.html" %}


    {% for message in thread.messages %}
        <div class="post" style="border: dotted; padding: 20px">
             <div class="post_header">
                <span class="poster_name">{{ message.poster_name }}</span>
                <span class="date">{{ message.date }}</span>
                <span class="post_id">No {{ message.id }}</span>
            </div>
            <div style="background-color: #c4e3f3">
                {{ message.message }}
            </div>
        </div>
    {% endfor %}
</body>
</html>