{% extends "parts/base.html" %}
{% block content %}
    <div>
        <h1 class="title">Мочераторы и им сочувствующие</h1>

        {% if current_user.role.value == 'Admin' %}
            <hr style="color: darkorange"/>
            <p>Добавить еще одного:</p>
            <form method="POST" action="" class="form-horizontal">
                {% include "parts/staff_add_form.html" %}
            </form>

            <hr style="color: darkorange"/>
        {% endif %}


        <table class="table table-hover">
            {% for user in staff_list %}
                <tr>
                    <td><strong>{{ user.name }}</strong><td>
                    <td>{{ user.role.value }}</td>
                    <td><a href="/manage/staff/edit/{{ user.name }}/">Подробнее</a></td>
                    <td><a href="/manage/staff/del/{{ user.name }}">Удалить</a></td>

                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
