{% extends "parts/base.html" %}
{% block content %}
    <div>
        <ul>
            <h3>"<i>Досье на</i> {{ user.role.value }}'a : <b style="color: darkorange">{{ user.name }}</b>"</h3>
            <div style="display: inline-table;width: 40%">

                <h4>Отредактировать {{ user.name }}</h4>
                <form action="/manage/staff/edit/{{ user.name }}/" method="post">

                    {% for field in form %}
                        <div>
                            {{ field.label }} {{ field }}
                            {% for err in form.errors[field.name] %}
                                <div style="display: inline">
                                    <ul style="display: inline">
                                        <li><i style="color: red;">{{ err }}</i></li>
                                    </ul>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                <input type="submit" value="Отредактировать!">
                    А может ... <a href="/manage/staff/del/{{ user.name }}">Удалить</a>
                </form>

            </div>
            <div style="display: inline-table;width: 40%">
                тут лог последних действий супостата
                вот такой ширины,
                вот такой <s>глубины</s> высоты
            </div>

        </ul>
    </div>
{% endblock %}