<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Ech.su</title>
    <link rel="stylesheet" href="/static/css/img_global.css">
    <link rel="stylesheet" href="/static/css/photon.css">
</head>
<body id="frame">
    <div class="main-wrapper">
        <div class="adminbar">
            [<a href="/">Главная</a>]
            [<a href="/manage/" target="_blank">A</a>]
            {% if current_user %}
                [{{ current_user.name}} ({{ current_user.role.value }})]
            {% endif %}
        </div>
        {% if board_list %}
            <div class="navbar">
                [
                {% for board_item in board_list %}
                    <a href="/{{ board_item.dir }}/" title="{{ board_item.name }}">{{ board_item.dir }}</a>
                {% endfor %}
                ]
            </div>
        {% endif %}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    {# Тут футер будет? #}

</body>
</html>
