<!DOCTYPE html>
{% macro print_navbar(list) -%}
    <div class="navbar">
        {% for section in sections %}
            {% if section.boards %}
                [
                {% for board_item in section.boards -%}
                    <a href="/{{ board_item.dir }}/" title="{{ board_item.name }}">{{ board_item.dir }}</a>
                    {% if not loop.last %}
                        /
                    {% endif %}
                {%- endfor %}
                ]
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Ech.su</title>
    <link rel="stylesheet" href="/static/css/img_global.css">
    <link rel="stylesheet" href="/static/css/photon.css">
</head>
<body id="frame">
    <div class="main-wrapper">
        <div class="adminbar">
            [<a href="/">Главная</a>]
            [<a href="/manage/" target="_blank">A</a>]
            {% if current_user %}
                [{{ current_user.name}} ({{ current_user.role.value }})]
            {% endif %}
        </div>
        {{ print_navbar(board_list) }}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        {{ print_navbar(board_list) }}
    </div>

    {# Тут футер будет? #}

    {% include 'yandex_metrika.html' %}
    <script src="/static/js/echoba.js"></script>
</body>
</html>
