<!DOCTYPE html>
{% macro print_navbar(list) -%}
    <div class="navbar">
        {% for section in sections %}
            {% if section.boards %}
                [
                {% for board_item in section.boards -%}
                    <a href="/{{ board_item.dir }}/" title="{{ board_item.name }}">{{ board_item.dir }}</a>
                    {% if not loop.last %}
                        /
                    {% endif %}
                {%- endfor %}
                ]
            {% endif %}
        {% endfor %}
    </div>
{%- endmacro %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}Ech.su</title>
    <meta name="description" content="Ech.su Анонимный имиджборд, тут можно сообщения и прикреплять к ним картинки, или просто создать свою доску.
    {% block desc %}{% endblock %}">
    <meta name="Keywords" content="Ech.su, Ech, Имиджборд, мелкоборда, создать свою имиджборду,
    {% block keywords %}{% endblock %}">
    <link rel="stylesheet" href="/static/css/img_global.css">
    <link rel="stylesheet" href="/static/css/photon.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body id="frame">
    <div class="main-wrapper">
        <div class="adminbar">
            [<a href="/">Главная</a>]
            [<a href="/manage/" target="_blank">A</a>]
            {% if current_user %}
                [{{ current_user.name}} ({{ current_user.role.value }})]
            {% endif %}
        </div>
        {{ print_navbar(board_list) }}
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        {{ print_navbar(board_list) }}
    </div>

    {# Тут футер будет? #}

    {% include 'yandex_metrika.html' %}
    <script src="/static/js/echoba.js"></script>
</body>
</html>
