{% extends 'base.html' %}
{% from 'macro.html' import post_message %}

{% block title %}/{{ board.dir }}/ - {{ board.name }}{% endblock %}

{% block content %}
    <div class="logo">
        <a href="/{{ board.dir }}/">/{{ board.dir }}/ - {{ board.name }}</a>
    </div>
    {% include "post_form.html" %}

    {% for thread in board.threads %}
        <div class="thread" id="thread{{ thread.id }}">
            <hr>

            <div class="postnode">
                {{ post_message(
                            message=thread.op(),
                            op_post=1,
                            op_label=1,
                            thread_link=thread.link()
                ) }}
            </div>

            <div class="replies">
                {% for message in thread.messages_tail() %}
                    {{ post_message(
                            message=message
                    ) }}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
