{% macro post_message(message, op_post=0, op_label=0, thread_link='', thread_id=0, is_admin=None, default_name='') %}
    <div class="postnode" id="{{ message.id }}">
        {% if not op_post -%}
            <table><tr><td class="doubledash">&gt;&gt;</td><td id="reply{{ message.id }}" class="reply">
        {%- endif %}

        <label for="check-post-{{ message.id }}">
            <input type="checkbox" value="{{ message.id }}" name="post[]" id="check-post-{{ message.id }}" />
            {% if message.header -%}
                <span class="filetitle">{{ message.header }}</span>
            {%- endif %}
            <span class="postername">
                {% if message.poster_name -%}
                    {{ message.poster_name }}
                {% else %}
                    {{ default_name }}
                {%- endif %}
            </span>
            {% if message.datetime -%}
                <i>
{#                                                     хардкооод#}
                    запощено {{ message.datetime.to('Europe/Moscow').format('DD.MM.YYYY HH:mm') }}
                    ({{ message.datetime.humanize(locale='ru') }})
                </i>
            {%- endif %}
        </label>

        <span class="reflink">
            <a onclick="return hightlight('{{ message.id }}')" href="{{ thread_link }}#{{ message.id }}">№</a>
            <a class="postl" href="{{ thread_link }}#i{{ message.id }}">{{ message.id }}</a>
        </span>

        {% if op_label -%}
            <span class="op-label">OP POST</span>
        {%- endif %}

        {% if op_label -%}
            [<a href="#" class="hidde-thread" data-thread="{{ thread_id }}">Скрыть</a>]
            [<a href="{{ thread_link }}" class="link-to-thread">Посмотреть тред</a>]
        {%- endif %}
        {% if is_admin -%}
            [<a href="/manage/message/del/{{ message.gid }}" target="_blank">Удалить</a>]
            [<a href="/manage/message/edit/{{ message.gid }}" target="_blank">Редактировать</a>]
        {%- endif %}

        <br>

        {% if message.picture -%}
            {% set image = message.image_info() %}
            <span class="filesize">
                Файл
                <a href="http://www.google.ru/searchbyimage?image_url=http://ech.su{{ image.locate }}" target="_blank" title="Искать в google">[G]</a>
                <a href="http://www.tineye.com/search/?url=http://ech.su{{ image.locate }}" target="_blank" title="Искать на tineye">[T]</a>
                :
                <a href="{{ image.locate }}" target="_blank">{{ image.name }}</a>
                - ({{ image.width }}x{{ image.height }})
            </span>
            
            <br>

            <a href="{{ image.locate }}" target="_blank">
                <span id="thumb{{ message.id }}"><img src="{{ message.img_thumb() }}" class="thumb" alt="Ech.su, {{ message.board.name }}"></span>
            </a>

            <br>
        {%- endif %}

        <blockquote>
            {% if message.need_cut() %}
                <div class="postmessage cut_message" id="messgae_cut{{ message.id }}">{{ message.message_cut()|safe }}</div>
                <a class="toggle_message" data-message="{{ message.id }}" href="#">Показать полностью</a>
            {% endif %}
            <div style="display: none" class="postmessage full_message" id="messgae_full{{ message.id }}">{{ message.message|safe }}</div>
        </blockquote>

        {% if not op_post -%}
            </td></tr></table>
        {%- endif %}
    </div>
{% endmacro %}

{% macro form_errors(field) %}
    {% if field.errors -%}
        <div class="errors">{{ field.errors|join(', ') }}</div>
    {%- endif %}
{% endmacro %}
