{% extends "base.html" %}
{% block content %}
{#    <a href="/manage/"> Admin </a>#}
    <div align="center" style="background-color: #fffffb">
        <h1>Воскресаем потихоньку</h1>
        <h3>Все по новому, все с нуля!</h3>
        <h4>Log:</h4>
        <div style="text-align: left; padding-left: 30%">
            <li>3.1.2016: Пилим модерки, авторизации, прочую хуйню, настраиваем сервера.</li>
            <li>5.1.2016: Пилим же саму борду! Скоро альфа-тест, епт!</li>

            <div style="margin-left: 40px; color: coral"><b>! Приветствуются добровольцы и помошники всех мастей: </b><br/></div>
            <div style="margin-left: 90px;">
                    <i style="color: goldenrod">>Погромисты - <a target="_blank" href="https://ru.wikipedia.org/wiki/Python"> Python</a></i>
                        /<a target="_blank" href="https://ru.wikipedia.org/wiki/Tornado">Tornado</a> <b style="color: coral">(лучшие традиции)™</b><br/></b>
                    <i style="color: goldenrod">>Верстка - <a target="_blank" href="https://ru.wikipedia.org/wiki/Jinja">Jinja</a><br/></i>
            </div>

            <li>22.1.2016: <a href="b/" style="font-size: larger">альфа-тест!</a></li>
                 <div style="margin-left: 40px; color: coral"><b>Выкачена на сервер первая версия движка! </b><br/></div>
                    <div style="margin-left: 90px;">
                            <i style="color: goldenrod">> Готово еще далеко не все, но "кое что" уже есть!</i>

                    </div>

            <li>29.1.2016: <a href="b/" style="font-size: larger">тестирование "ещобы" продолжается...</a></li>
                <ul>
                 <li><div style="margin-left: 40px; color: coral"><b> Теперь к своему сообщению можно прикрепить "случайное изображение",<br>
                     которое, с некоторой вероятностью, будет иметь отношение к тому<br>
                     что вы там напечатали в поле "сообщение".</b><br/></div></li>

                    <li><div style="margin-left: 40px; color: #8218ff">
                        <b>Доски теперь могут работать в определенное, обозначенное модератором, время суток!</b><br/></div></li>

                <li><div style="margin-left: 40px; color: #8218ff"><b>Так же, любой желающий может создать свою собственную, <b>ЛАМПОВУЮ ЖЕ</b>, имиджборду,</br>
                    Предварительно немного <a href="https://ech.su/registration/">зарегистрировавшись</a> тут : <a href="https://ech.su/registration/">https://ech.su/registration/</a>.

                </b><br/></div></li>
                 </ul>


        </div>
        <div style="padding: 100px">
            По всем вопросам -(<a href="mailto:adm@ech.su">admin@ech.su</a>)
        </div>
    </div>
{% endblock %}