{% extends "parts/manage_base.html" %}
{% from 'macro.html' import post_message %}
{% block content %}
    <div>
        <h1 class="title">Список последних сообщений</h1>

        {% if current_user.role.value == 'Admin' %}
            <hr style="color: darkorange"/>
            <p>Фильтры:</p>
            <form method="POST" action="" class="form-horizontal">
{#                {% include "parts/staff_add_form.html" %}#}
            </form>

            <hr style="color: darkorange"/>
        {% endif %}


        <table class="table table-hover">
            {% for message in messages_list %}

                {{ post_message(
                            message=message,
                            op_post=0,
                            op_label=0,
                            thread_link='',
                            is_admin=current_user
                ) }}
            {% endfor %}
        </table>

{#        универсальный пагинатор надо!!#}
        {% if is_paginated %}
            <table>
                <tr>
                    <td>
                        {% if page_obj.has_previous() %}
                            <a href="{{ reverse_url('message_list_page', page_obj.previous_page_number()) }}">&larr;Назад</a>
                        {% endif %}

                        {% for page in range(1, paginator.num_pages + 1) %}
                            [
                                {% if page_obj.number != page %}
                                    <a href="{{ reverse_url('message_list_page', page) }}">{{page}}</a>
                                {% else %}
                                    {{ page }}
                                {% endif %}
                            ]
                        {% endfor %}

                        {% if page_obj.has_next() %}
                             <a href="{{ reverse_url('message_list_page',page_obj.next_page_number()) }}">Вперед&rarr;</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}
