<hr>
<div class="postarea">
    <form id="postform" method="post" enctype="multipart/form-data">
        <table class="postform">
            {% if current_user %}
                <tr>
                    {% for field in form %}
                            <td class="postblock">{{ field.label }}</td>
                            <td>
                                {{ field }}
                                {% if field.errors %}
                                    <span class="error">{{ field.errors|join(', ') }}</span>
                                {% endif %}
                            </td>
                    {% endfor %}
                </tr>
            {% endif %}

            {% for field in message_form %}
                <tr>
                    <td class="postblock">{{ field.label }}</td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            <span class="error">{{ field.errors|join(', ') }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td collspan="2"><input type="submit" value="Отправить"></td>
            </tr>
        </table>
    </form>
</div>
