{% extends "parts/manage_base.html" %}
{% block content %}
    <h1><small>Досье на {{ user.role.value }}&rsquo;а: </small>{{ user.name }}</h1>
    <div class="row">
        <div class="col-md-7 col-sm-6">
            <h4>Отредактировать {{ user.name }}</h4>
            <form action="/manage/staff/edit/{{ user.id}}/" method="post" class="form-horizontal">
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label(class="col-sm-2") }}
                        <div class="col-sm-6">
                            {{ field(class="form-control") }}
                        </div>
                        <div class="col-sm-4">
                            {% for err in field.errors %}
                                <ul class="error-list">
                                    <li><i style="color: red;">{{ err }}</i></li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <input type="submit" value="Отредактировать!" class="btn btn-default">
                А может ... <a href="/manage/staff/del/{{ user.id }}" class="btn btn-danger">Удалить</a>
            </form>
        </div>
        <div class="col-md-5 col-sm-6">
            тут лог последних действий супостата
            вот такой ширины,
            вот такой <s>глубины</s> высоты
        </div>
    </div>
{% endblock %}
