{% extends 'base.html' %}
{% from 'macro.html' import post_message %}

{% block title %}/{{ board.dir }}/ - {% if thread.op().header %}{{ thread.op().header }}{% else %}Тред #{{ thread.id }}{% endif %}{% endblock %}

{% block content %}
    <div class="logo">
        <a href="/{{ board.dir }}/">/{{ board.dir }}/ - {{ board.name }}</h1>
    </div>
    {% include "post_form.html" %}

    <ul class="breadcrumb">
        <li><a href="/">Главная</a></li>
        <li><a href="/{{ board.dir }}">/{{ board.dir }}/ - {{ board.name }}</a></li>
        <li>{% if thread.op().header %}{{ thread.op().header }}{% else %}Тред #{{ thread.id }}{% endif %}</li>
    </ul>

    {{ post_message(
                message=thread.op(),
                op_post=1
    )}}

    {% for message in thread.messages[1:] %}
        {{ post_message(
                    message=message
        ) }}
    {% endfor %}
{% endblock %}
